<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <remove statusCode="403" />
      <remove statusCode="500" />
      <error statusCode="404" path="/#/404" responseMode="Redirect" />
      <error statusCode="403" path="/#/404" responseMode="Redirect" />
      <error statusCode="500" path="/#/404" responseMode="Redirect" />
    </httpErrors>

    <!-- Block direct access to sensitive files -->
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence=".env" />
        </denyUrlSequences>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
